* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

header {
  width: 100vw;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  header ul {
    list-style: none; }
  header a {
    box-shadow: none;
    text-decoration: none;
    color: black; }
    header a:hover {
      color: green; }
  header button:hover {
    background-color: rgba(253, 253, 253, 0.8); }
  header .logoNom {
    display: flex;
    flex-direction: row;
    align-items: center; }
  header .navBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    header .navBar .listNav {
      margin: 10px; }

footer {
  background-color: aliceblue;
  width: 100vw; }
  footer .imgF {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4px; }
    footer .imgF .aImgLn {
      width: 3%; }
    footer .imgF .aImgF {
      width: 3%; }
    footer .imgF .imgFace {
      width: 100%; }
    footer .imgF .imgLn {
      width: 100%; }
  footer .direccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px; }
  footer .derechosF {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px; }

main .titulo {
  display: flex;
  justify-content: space-around; }
  main .titulo h2 {
    animation-name: efectoTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite; }

@keyframes efectoTitulo {
  0% {
    color: #06391e; }
  50% {
    color: #243b0d; }
  100% {
    color: #5e8028; } }

main .cardIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  main .cardIndex .btn-primary {
    background-color: darkolivegreen;
    border: solid black; }
  main .cardIndex .btn-primary:hover {
    background-color: black; }

@media (max-width: 785px) {
  header {
    display: flex;
    flex-direction: column; }
  .logoNom {
    display: flex;
    flex-direction: column; } }

@media (max-width: 750px) {
  main .cardIndex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-evenly; } }
